<h1><%= t('users.edit.edit_settings') %></h1>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="f_row">
	<%= f.label t('users.new.name') %>
    <%= f.text_field :name %>
  </div>
  <div class="f_row">
	<%= f.label t('users.new.email') %>
    <%= f.text_field :email %>
  </div>
  <div class="f_row">
    <%= f.label t('users.new.password') %>
    <%= f.password_field :password %>
  </div>
  <div class="f_row">
    <%= f.label t('users.new.confirmation') %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="f_action">
    <%= f.submit t('users.edit.update'), :class => "submit" %>
  </div>
<% end %>

<div>
  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails"><%= t('users.edit.change') %> </a>
</div>
