<h1><%= t('users.index.all_users') %></h1>
<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
	<li>
	  <%= gravatar_for user, :size => 30 %>
	  <%= link_to user.screen_name, user %>
	</li>
  <% end %>
</ul>

<%= will_paginate %>
